.weatherBg{
  background: url("https://media.mcsuk.org/images/Jellyfish_1028089477_Damsea.0bf27c94.fill-1440x450.jpg");
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.heading{
  text-transform: uppercase;
  color: rgb(190, 245, 179);
 font-weight: bold;
}
.weatherResualt{
  margin: auto;
  width: 300px;
  height: 280px;
}
.weatherIcon{
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}
.weatherCity{
  font-size: 35px;
  font-weight: bold;
  color: rgb(228, 54, 24);
}
.weatherTmp{

  font-size: 55px;
  font-weight: bold;
}